/* View3Main */
.view3Main {
  padding: 3vh 5vw;
}

.orderNav {
  bottom: -0;
  position: fixed;
  align-items: center;
  margin: 0 0 3vh 0;
}

.basket {
  background-color: #f5f5fa;
  color: #6255f6;
  border: none;
  border-radius: 35px;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin: 3px;
}

.icon {
  width: 25px;
  height: 25px;
}

.basket:hover{
  background-color: #6255f6;
  border-radius: 35px;
  color: #74e88b;
}

/* BasketList */
.cart {
  color: #6255f6;
}

.orderList {
  margin: 10px 0 30px 0;
}

table {
  width:90vw;
  word-break: break-all;
  height: auto;
  border-top: 1px solid;
  border-bottom: 1px solid #6d6d6d;
  border-collapse: collapse;
  margin-top: 5px;
}

th{
  padding: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}

td {
  padding: 8px 8px 8px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-top: 1px solid #c5c5c5;
}

.th2 {
  width: 30vw;
}

.leadtimeByCategory {
  margin-bottom: 30px;
  width: 90vw;
  justify-content: flex-end;
  display: flex;
  gap: 2vw;
}

.categoryName {
  font-size: large;
  border: #74e88b 3px solid;
  width: 10vw;
  text-align: center;
  border-radius: 20px;
  color: #74e88b;
}

.View3Main {
  display: flex;
  flex-direction: row;
}

.calender {
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

@media (max-width: 430px) {
  
}

